#linkit-container {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	overflow: auto;
	flex: 1;
	min-height: 100%;
	/* min-height: calc(100vh - 60px);
	height: calc(100vh - 60px);
	max-height: calc(100vh - 60px); */
}

.linkit-entity-box {
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 8px;
	min-width: 300px;
	max-width: 300px;
	flex: 1;
	width: auto;
	display: inline-flex;
	flex-direction: column;
	gap: 4px;
	font-size: var(--font-size-small);
}
.linkit-entity-category {
	font-size: var(--font-size-sm);
	margin: 4px 0;
}
.linkit-box-title {
	font-size: var(--font-size);
	font-weight: bold;
	margin: 4px 0;
}

.linkit-grid {
	display: grid;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	grid-template-columns: auto 1fr;
	/* grid-gap: 4px; */
	font-size: var(--font-size-sm);
	border-top: var(--border);
	padding: 4px 0;
}
.linkit-grid-title {
	grid-column: span 2;
	font-size: var(--font-size-xsm);
	opacity: 0.7;
	margin: 4px 0 4px 16px;
}
.linkit-grid-label {
	text-align: right;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;
	width: auto;
	min-width: 100px;
	padding: 2px;
}
.linkit-grid-label:after {
	content: ':';
	margin: 0 4px 0 2px;
}
.linkit-grid-value {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: start;
	text-align: left; */
	width: auto;
	min-width: 100px;
	padding: 2px 4px;
}
.linkit-grid-value.border-wrap {
	border-left: 0;
}
.linkit-entity-color {
	width: 30px;
	height: 30px;
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	max-height: 30px;
	appearance: none;
	margin: 0;
	padding: 0;
	border: var(--border);
	border-radius: var(--border-radius);
}
.linkit-entity-check {
	width: 30px;
	height: 30px;
	min-width: 30px;
	max-width: 30px;
	min-height: 30px;
	max-height: 30px;
	/* appearance: none; */
	margin: 0;
	padding: 0;
	border: var(--border);
	border-radius: var(--border-radius);
}
.linkit-entity-description {
	border-top: var(--border);
	padding: 4px 0;
}
.linkit-entity-close {
	cursor: pointer;
	width: 30px;
	height: 30px;
	appearance: none;
	margin: 0;
	padding: 0;
	border: var(--border);
	border-radius: var(--border-radius);
	border-color: transparent;
	background-image: url(../assets/images/cross-white.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 8px;
	top: 8px;
}
.linkit-box-close:hover {
	border: var(--border);
}

#linkit-project-line {
	border-top: var(--border);
	width: 100%;
	display: block;
	height: 1px;
	min-height: 1px;
	max-height: 1px;
	z-index: 0;
	top: -22px;
}
#linkit-project-label {
	font-size: var(--font-size);
	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--theme-dark-back);
	color: var(--theme-dark-text);
	padding: 8px;
	width: auto;
	min-width: 120px;
	max-width: 300px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	flex: 1;
	left: 16px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: relative;
	cursor: pointer;
	z-index: 1;
}
/* #linkit-project-label:hover {
	border-width: 2px;
	transform: scale(0.99);
}
#linkit-project-label:hover ~ #linkit-project-list,
#linkit-project-label:hover + #linkit-project-line {
	border-width: 2px;
} */
#linkit-project-list {
	display: flex;
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
	padding: 8px;
	overflow: auto;
	width: auto;
	min-width: 120px;
	max-width: 300px;
	height: auto;
	min-height: 30px;
	max-height: calc(100vh - 100px);
	font-size: var(--font-size);
	border: var(--border);
	border-radius: var(--border-radius);
	background: var(--theme-dark-back);
	color: var(--theme-dark-text);
	position: absolute;
	top: 36px;
	left: 16px;
	z-index: 1;
}
.linkit-project-button {
	cursor: pointer;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 0 8px;
	width: auto;
	min-width: 120px;
	max-width: 300px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	flex: 1;
	gap: 4px;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.linkit-project-item {
	cursor: pointer;
	/* border: var(--border); */
	/* border-radius: var(--border-radius); */
	border-bottom: var(--border);
	font-size: var(--font-size-sm);
	padding: 8px;
	width: 100%;
	min-width: 100%;
	max-width: 300px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	flex: 1;
	display: inline-flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
/* .linkit-project-item:hover {
	font-weight: bold;
} */
/* .linkit-project-button:hover {
	border-width: 2px;
	transform: scale(0.99);
} */
/* Override */
#app-content-container {
	width: calc(100% - 4px);
	min-width: calc(100% - 4px);
	max-width: calc(100% - 4px);
	min-height: 100%;
	flex: 1;
}
/* #app-content {
	margin: 0px;
	padding: 0px;
} */
